body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.content {
    border: 15px; /* Your existing border */
    margin: 0 auto; /* Center the content */
    width: 60%; /* Adjust this as needed */
}

.about-me {
    margin: 10px;
}
/* This will apply when the aspect ratio is more vertical */
@media (orientation: portrait) {
    .content {
        margin: 0; 
        width: 100%; 
    }
}

/* @media (max-width: 1000px) {
    .content {
        margin: 0; 
        width: 100%; 
    }
    body {
        font-size: 27px;
    }
    img {
        width: 100%;
    }
    .container {
        display: flex;
        margin: 5px;
    }
} */

.project {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 15px;
}
.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.info {
    width: 50%;
}
a {
    color: rgb(52, 152, 222);
}