.about-me {
    margin: 10px;
}


.project {
    background-color: #fff;
    margin-bottom: 4px;
    padding: 8px;
    border-radius: 7px;
    transition: background-color 0.5s ease;
    /* smooth transition */
}

.project:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    margin: 0 auto;
    /* Center the content */
    display: flex;
}

.image {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin: 15px;
}

.info {
    width: 70%;
}

