body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.content {
    border: 15px; /* Your existing border */
    margin: 0 auto; /* Center the content */
    width: 70%; /* Adjust this as needed */
}

/* This will apply when the aspect ratio is more vertical */
@media (orientation: portrait) {
    .content {
        margin: 0; /* Remove the margin */
        width: 100%; /* Take up the full width */
    }
}

.project {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 15px;
}
.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    width: 50%;
}
a {
    color: rgb(52, 152, 222);
}